<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\Users\knapi\Desktop\MyRestaurantAPI_LogCatalog\NLogInternalLogs.txt"
>

    <!-- Rejestracja rozszerzenia NLog.Web.AspNetCore -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- Definicja celu (target) logowania -->
    <targets>
        <target xsi:type="File" name="exceptions"
                fileName="C:\Users\knapi\Desktop\MyRestaurantAPI_LogCatalog\app-exceptions-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:false}" />
        <target xsi:type="File" name="allfile"
                fileName="C:\Users\knapi\Desktop\MyRestaurantAPI_LogCatalog\log-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:false}" />
    </targets>

    <!-- Reguły określające, które logi mają być kierowane do konkretnych celów -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="MyRestaurantProject.*" minlevel="Error" writeTo="exceptions" />
    </rules>
</nlog>
